<p>
  We're looking forward to seeing you at the <strong>Summer Party at The Green 2023</strong>.
</p>
<p>
  Log in to RSVP at <a href="https://qta23.uk/">qta23.uk</a> using the magic word:
  <pre><%= @magic_word %></pre>. Or just click
  <a href="https://qta23.uk/invite/<%= @magic_word %>">this magic link</a> to get logged-in rightaway.
</p>
<p>
  If you're having trouble, email <a href="mailto:<%= ENV['SHARED_EMAIL'] %>"><%= ENV['SHARED_EMAIL'] %></a>
  or call/SMS/WhatsApp Dan on <a href="tel:+44<%= ENV['DAN_MOBILE'].gsub(' ', '') %>">0<%= ENV['DAN_MOBILE'] %></a> and we'll get you sorted out.
</p>
<hr>
<p>
  Dan, Ruth, JTA, Annabel, John, and Demmy
</p>
