<h1>Invitations</h1>

<p style="text-align: center;">
  <%= link_to 'Add invitation', new_invitation_path, class: 'btn' %>
  <%= link_to 'Back to My Invitation', root_url, class: 'btn' %>
</p>

<div id="filters"></div>

<table id="all-invitations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sent?</th>
      <th>RSVP</th>
      <th>Problems?</th>
      <th>Tags</th>
      <th>Last Login</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @invitations.each do |invitation| %>
      <tr class="shown rsvp-<%= invitation.rsvp || 'unanswered' %> <%= invitation.tagged?('invitation_sent') ? 'f-sent' : 'f-unsent' %>" id="invitation-<%= invitation.id %>">
        <td>
          <% if invitation.name.blank? # anonvitation %>
            🕵️ <code><%= invitation.code %></code>
          <% else %>
            <%= invitation.name %>
          <% end %>
        </td>
        <td style="text-align: center;">
          <%= invitation.tagged?('invitation_sent') ? '📨' : '📤' %>
        </td>
        <td style="text-align: center;">
          <%= (invitation.rsvp == 'yes') ? '✅' : (invitation.rsvp == 'no' ? '❌' : (invitation.rsvp == 'maybe' ? '❓' : '')) %>
        </td>
        <td>
          <%= '📱 no contact!<br>'.html_safe if ((invitation.phones || []) + (invitation.emails || [])).empty? %>
          <%= '😅 rsvp yes, no guests!<br>'.html_safe if invitation.guests.empty? && (invitation.rsvp == 'yes') %>
          <%= '🪄 no magic word!<br>'.html_safe if invitation.code.blank? %>
        </td>
        <td>
          <%= (invitation.tags || []).join('<br>').html_safe %>
        </td>
        <td>
          <%= invitation.last_login.try(:to_date) %>
        </td>
        <td>
          <%=
            adults = (invitation.guests || []).reject{|g|g[:name].blank?}.select{|g|!g[:child]}.count
            @total_adults ||= 0
            @total_confirmed_adults ||= 0
            (@total_adults += adults) if invitation.rsvp != 'no'
            (@total_confirmed_adults += adults) if invitation.rsvp == 'yes'
            adults
          %>
        </td>
        <td>
          <%=
            children = (invitation.guests || []).reject{|g|g[:name].blank?}.select{|g|g[:child]}.count
            @total_children ||= 0
            @total_confirmed_children ||= 0
            (@total_children += children) if invitation.rsvp != 'no'
            (@total_confirmed_children += children) if invitation.rsvp == 'yes'
            children
          %>
        </td>
        <td>
          <div style="display: flex;">
            <%= link_to 'Edit', edit_invitation_path(invitation), class: 'btn btn-sm' %>
            <%= button_to 'Infiltrate', infiltrate_invitation_path(invitation), class: 'btn btn-sm' %>
            <%= link_to 'Invite', invitation, class: 'btn btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td style="text-align: right; font-weight: bold;">Total (range):</td>
      <td><%= @total_confirmed_adults %> &mdash; <%= @total_adults %></td>
      <td><%= @total_confirmed_children %> &mdash; <%= @total_children %></td>
      <td><%= @total_confirmed_adults + @total_confirmed_children %> &mdash; <%= @total_adults + @total_children %></td>
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
  const invitationsTable = document.querySelector('#all-invitations tbody');
  const filters = document.getElementById('filters');
  const filterData = [
    'Sent',
    { class: 'f-sent', label: '📨 Sent' },
    { class: 'f-unsent', label: '📤 Unsent' },
    '<br><br>RSVP',
    { class: 'rsvp-yes', label: '✅ Yes' },
    { class: 'rsvp-no', label: '❌ No' },
    { class: 'rsvp-maybe', label: '❓ Maybe' },
    { class: 'rsvp-unanswered', label: 'Unanswered' },
  ];
  const filterList = filterData.map(f=> (typeof f === 'string') ? `<strong>${f}:</strong>` :  `<label><input type="checkbox" class="filter-box" data-filter="${f.class}" checked> ${f.label}</label>`);
  filters.innerHTML = `<p>${filterList.join(' ')}</p>`;
  filters.addEventListener('change', ()=>{
    [...invitationsTable.querySelectorAll('tr')].forEach(tr=>tr.classList.add('shown'));
    [...filters.querySelectorAll('input[type="checkbox"]:not(:checked)')].forEach(checkbox=>{
      [...invitationsTable.querySelectorAll(`tr.${checkbox.dataset.filter}`)].forEach(tr=>tr.classList.remove('shown'));
    });
  });
</script>